In [3]:
import pandas as pd
import numpy as np
from tqdm import tqdm
csv_path = r'../Datasets/meraged/final_combined_corpus.csv'

In [4]:
df = pd.read_csv(csv_path)
df.head()

                                                text  label
0  By 2025, Ninety Percent of All Americans Will ...      1
1  Barbaro's Owner Honed His Business Sense in Ba...      0
2  New Chase Coupon Code gives 450 dollars listed...      1
3  Lionel Casson, Who Wrote of Ancient Maritime H...      0
4  IL-House-Trend - SFGate AP Elections 11-08-201...      0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930584 entries, 0 to 2930583
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   text    object
 1   label   int64
dtypes: int64(1), object(1)
memory usage: 44.7+ MB